# Settings & presets (user-specific)
pymkvpropedit_settings.json
presets.json

# Logs
*.log
pymkvpropedit.log

# Old versions
*.PYW
!PyMkvPropEdit v3.6.pyw

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Distribution / ZIP
*.zip

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Windows
Thumbs.db
Desktop.ini
